@model IEnumerable<Application.DTOs.IntroductionDTO>

@inject Application.Interfaces.Repositories.IPlanRepository planRepository

@{
    ViewData["Title"] = "Introductions";
    var stepList = planRepository.GetStepList();
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs">
        <div class="m-portlet__head">
            <div class="m-subheader">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h2>@ViewData["Title"]</h2>
                    </div>

                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            @foreach (var step in stepList)
            {
            <div class="form-group m-form__group">
                <label for="introduction_file_@step">
                    @steps.ResourceManager.GetString(step)
                </label>
                <div class="input-group">
                    <input type="file" class="form-control" placeholder="Search for...">
                    <div class="input-group-append">
                        <button class="btn btn-sp" type="button">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</div>
