@model Application.DTOs.ChangePasswordDTO

<form id="user_profile_change_password" class="m-form m-form--fit m-form--label-align-right">
    <div class="m-portlet__body">
        <div class="form-group m-form__group">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="Password">
                Password
            </label>
            <input asp-for="Password" class="form-control m-input" type="password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="NewPassword">
                New password
            </label>
            <input asp-for="NewPassword" class="form-control m-input" type="password">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="ConfirmNewPassword">
                Confirm new password
            </label>
            <input asp-for="ConfirmNewPassword" class="form-control m-input" type="password">
            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-7">
                    <button type="submit" class="btn btn-sp m-btn m-btn--icon">
                        <span>
                            <i class="fa fa-save"></i>
                            <span>
                                Save changes
                            </span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>