<div class="m-portlet m-portlet--full-height  ">
    <div class="m-portlet__body">
        <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
                Your Profile
            </div>
            <div class="m-card-profile__pic">
                <div class="m-card-profile__pic-wrapper">
                    <img src="~/img/user4.jpg" />
                </div>
            </div>
            <div class="m-card-profile__details">
                <span class="m-card-profile__name">
                    Mark Andre
                </span>
                <a href="" class="m-card-profile__email m-link">
                    mark.andre@gmail.com
                </a>
            </div>
        </div>
        <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
            <li class="m-nav__separator m-nav__separator--fit"></li>
            <li class="m-nav__section m--hide">
                <span class="m-nav__section-text">
                    Section
                </span>
            </li>
            <li class="m-nav__item">
                <a asp-action="GetProfile" asp-route-userId="0" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                    <span class="m-nav__link-title">
                        <span class="m-nav__link-wrap">
                            <span class="m-nav__link-text">
                                My Profile
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-nav__item">
                <a asp-action="GetActivity" asp-route-userId="0" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-share"></i>
                    <span class="m-nav__link-text">
                        Activity
                    </span>
                </a>
            </li>
        </ul>
        <div class="m-portlet__body-separator"></div>
    </div>
</div>