@model Application.DTOs.UserProfileDTO

<div class="m-portlet m-portlet--full-height  ">
    <div class="m-portlet__body">

        <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
            <li class="m-nav__section m--hide">
                <span class="m-nav__section-text">
                    @sharedResource.userUserViewSection
                </span>
            </li>
            <li class="m-nav__item" id="profile_nav_details">
                <a asp-action="GetMyProfile" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                    <span class="m-nav__link-title">
                        <span class="m-nav__link-wrap">
                            <span class="m-nav__link-text">
                                @sharedResource.userUserViewMyProfile
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-nav__item" id="profile_nav_activities">
                <a asp-action="GetMyActivity" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-share"></i>
                    <span class="m-nav__link-text">
                        @sharedResource.userUserViewActivity
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>