<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    My Profile
                </h3>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-lg-4">
                <partial name="~/Views/User/Partials/_UserView.cshtml" />
            </div>
            <div class="col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Recent Activities
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="col">
                            <div class="m-widget15__item">
                                <span class="m-widget15__stats">
                                    54%
                                </span>
                                <span class="m-widget15__text">
                                    completed
                                </span>
                                <div class="m--space-10"></div>
                                <div class="progress m-progress--sm">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                         style="width: 40%;" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="m-list-timeline custom-list-timeline m--margin-top-60">
                            <div class="m-list-timeline__items">
                                <div class=" m-list-timeline__item m--margin-top-30">
                                    <span class="fa fa-check m--font-success">
                                    </span>
                                    <span class="m--padding-left-30 m-list-timeline__text">
                                        <h4>step 1</h4>
                                        uris vestibulum lacus turpis, quis interdum ligula maximus eu. Nunc
                                        vestibulum ac velit id hendrerit.Proin venenatis euismod
                                        scelerisque. Nullam consequat neque metus, nec consectetur velit
                                        dictum eget. Ut luctus arcu sit amet blandit pulvinar. Integer
                                        ultrices t
                                    </span>
                                    <span class="m-list-timeline__time">
                                        14 mins
                                    </span>
                                </div>
                                <div class="m-list-timeline__item  m--margin-top-30">
                                    <span class="fa fa-check m--font-success">
                                    </span>
                                    <span class="m--padding-left-30 m-list-timeline__text">
                                        <h4>step 2</h4>
                                        lum ac velit id hendrerit.Proin venenatis eulerisqu nec consectetur
                                        velit dictum eget. Ut luctus arcu sit amet blandit pulvinar. Integer
                                        ultrices t

                                    </span>
                                    <span class="m-list-timeline__time">
                                        just now
                                    </span>
                                </div>
                                <div class="m-list-timeline__item  m--margin-top-30">
                                    <span class="fa fa-remove m--font-danger">
                                    </span>
                                    <span class="m--padding-left-30 m-list-timeline__text">
                                        <h4>step 3</h4>
                                        consectetur velit dictlum ac velit id hendrerit.Proin venenatis
                                        eulerisqu nec consectetur velit dictum eget. Ut luctus arcu sit amet
                                        blandit pulvinar. Integer ultrices t
                                    </span>
                                    <span class="m-list-timeline__time">

                                    </span>
                                </div>
                                <div class="m-list-timeline__item  m--margin-top-30">
                                    <span class="fa fa-remove m--font-danger">
                                    </span>
                                    <span class="m--padding-left-30 m-list-timeline__text">
                                        <h4>step 4</h4>
                                        lum ac velit id hendrerit.Proin venenatis eulerisqu nec consectetur
                                        velit dictum eget. Ut luctus arcu sit amet blandit pulvinar. Integer
                                        ultrices t

                                    </span>
                                    <span class="m-list-timeline__time">

                                    </span>
                                </div>
                                <div class="m-list-timeline__item  m--margin-top-30">
                                    <span class="fa fa-remove m--font-danger">
                                    </span>
                                    <span class="m--padding-left-30 m-list-timeline__text">
                                        <h4>step 5</h4>
                                        consectetur velit dictlum ac velit id hendrerit.Proin venenatis
                                        eulerisqu nec consectetur velit dictum eget. Ut luctus arcu sit amet
                                        blandit pulvinar. Integer ultrices t

                                    </span>
                                    <span class="m-list-timeline__time">

                                    </span>
                                </div>
                                <div class="m-list-timeline__item  m--margin-top-30">
                                    <span class="fa fa-remove m--font-danger">
                                    </span>
                                    <span class="m--padding-left-30 m-list-timeline__text">
                                        <h4>step 5</h4>
                                        ectetur velit dictlum ac ectetur velit dictlum ac velit id
                                        hendrerit.Proin venvelit id hendrerit.Proin venconsectetur velit
                                        dictlum ac velit id hendrerit.Proin venenatis eulerisqu nec
                                        consectetur velit dictum eget. Ut luctus arcu sit amet blandit
                                        pulvinar. Integer ultrices t

                                    </span>
                                    <span class="m-list-timeline__time">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col m--margin-top-30 clearfix">
                            <button type="reset" class="btn btn-warning m-btn m-btn--icon m--pull-right">
                                <span>
                                    <i class="fa fa-share"></i>
                                    <span>
                                        continue
                                    </span>
                                </span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('#menu_profile').addClass('m-menu__item--active');
    </script>
}