@model Application.DTOs.UserProfileDTO
@{
    ViewData["Title"] = "Profile";
}
<button class="m-aside-left-close m-aside-left-close--skin-light" id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    My Profile
                </h3>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-lg-4">
                <partial name="~/Views/User/Partials/_UserView.cshtml" model="Model"/>
            </div>
            <div class="col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary"
                                role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab"
                                       href="#m_user_profile_tab_1" role="tab">
                                        <i class="flaticon-share m--hide"></i>
                                        Personal Details
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab"
                                       href="#m_user_profile_tab_2" role="tab">
                                        Password
                                    </a>
                                </li>
                                @*<li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link" data-toggle="tab"
                                           href="#m_user_profile_tab_3" role="tab">
                                            Settings
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_user_profile_tab_1">
                            <partial name="~/Views/User/Partials/_UserProfileDetails.cshtml" model="Model" />
                        </div>
                        <div class="tab-pane " id="m_user_profile_tab_2">
                            <partial name="~/Views/User/Partials/_ChangePassword.cshtml" model="new ChangePasswordDTO()" />
                        </div>
                        @*<div class="tab-pane " id="m_user_profile_tab_3"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('#menu_profile').addClass('m-menu__item--active');
        $("#profile_nav_details").addClass('m-nav__item--active');
    </script>

    <script>

        $(document).on("submit", "form#user_profile_details", function (e) {
                e.preventDefault();

                let formData = new FormData(document.querySelector('form#user_profile_details'));

                let formObject = {};
                formData.forEach(function (value, key) {
                    formObject[key] = value;
                });

                $.ajax(
                    {
                        url: '@Url.Action("UpdateProfile","User")',
                        method: "post",
                        data: formObject,
                        success: function (data, statusText, xhr) {
                            if (xhr.status == 200) {
                                notify("Successfully updated", "success", 5);
                            }

                            if (xhr.status == 400) {
                                notify("An Error occured during sending a request", "danger", 5);
                            }

                            $('form#user_profile_details').html(data);
                        },
                        error: function (xhr, statusText, error) {
                            notify("An Error occured during sending a request", "danger", 5);
                        }
                    })
        });

        $(document).on("submit", "form#user_profile_change_password", function (e) {
                e.preventDefault();

            let formData = new FormData(document.querySelector('form#user_profile_change_password'));

                let formObject = {};
                formData.forEach(function (value, key) {
                    formObject[key] = value;
                });

                $.ajax(
                    {
                        url: '@Url.Action("ChangePassword","User")',
                        method: "post",
                        data: formObject,
                        success: function (data, statusText, xhr) {
                            if (xhr.status == 200) {
                                notify("Successfully updated", "success", 5);
                            }

                            if (xhr.status == 400) {
                                notify("An Error occured during sending a request", "danger", 5);
                            }

                            $('form#user_profile_change_password').html(data);
                        },
                        error: function (xhr, statusText, error) {
                            notify("An Error occured during sending a request", "danger", 5);
                        }
                    })
            });


    </script>
}
