@model Application.DTOs.RecoverPasswordDTO
@{
    ViewData["Title"] = "Recover Password";
    Layout = "_LoginLayout";
}

<div class="m-login">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Recover password
        </h3>
        <div class="m-login__desc">
            Enter your email to reset your password:
        </div>
    </div>
    <form asp-controller="Auth" asp-action="RecoverPassword" class="m-login__form m-form"  method="post">
        <input asp-for="Token" type="hidden"/>
        <div class="form-group m-form__group">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="form-group m-form__group">
            <input asp-for="NewPassword" class="form-control m-input" type="password" placeholder="New password"
                   autocomplete="off">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group m-form__group">
            <input asp-for="ConfirmNewPassword" class="form-control m-input" type="password" placeholder="Confirm new password"
                   autocomplete="off">
            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <div class="m-login__form-action">
            <button type="submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn btn-large-sp btn-sp">
                Submit
            </button>
        </div>
    </form>
</div>

