@model Web.ViewModels.ResultVM

@{
    ViewData["Title"] = "Success";
    Layout = "_LoginLayout";
}

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12 col-sm-offset-3">
            <br><br> <h2 class="text-success">@Model.Title</h2>
            <p>
                @Model.Text
            </p> 
            <a asp-controller="Auth" asp-action="Login"
                     class="btn m-btn m-btn--pill m-btn--custom m-login__btn btn-sp--secondary btn-large-sp">
                Back to Login
            </a>
        </div> 
    </div>
</div>


