@model IEnumerable<Application.DTOs.UserPlanningMemberDTO>

<div class="m-portlet m-portlet--bordered m-portlet--unair m--margin-top-30">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="row no-gutters justify-content-md-center">
                <div class="col">
                    <h3 class="m-portlet__head-text">
                        Planning team
                    </h3>
                </div>
            </div>
        </div>
        @*<a href="#" data-target="#help_modal" data-toggle="modal"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle m-intro__help">
            <i class="fa fa-question"></i>
        </a>*@
    </div>
    <div class="m-portlet__body">
        <div class="form-group m-form__group">
            <div class="row">
                <label class="col-form-label col-md-9 col-sm-12">
                    What is the size of the strategic planning team?
                </label>
                <div class="col-md-3 col-sm-12">
                    <a href="" class="btn btn-sp m-btn m-btn--pill m--pull-right"
                       data-toggle="modal" data-target="#planning_team_add_modal">
                        Add
                    </a>
                </div>
            </div>
            <table class="table m-table  table-bordered m--margin-top-10" width="100%">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Position
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @user.FullName
                            </td>
                            <td>
                                @user.Position
                            </td>
                            <td>
                                <span class="table-row-actions">
                                    <a href="#"
                                       class="remove-user-from-plan m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                       title="Delete" data-id="@user.Id">
                                        <i class="la la-trash"></i>
                                    </a>

                                    @*<a href="#"
                                           class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill"
                                           title="Edit" data-toggle="modal"
                                           data-target="#m_select2_modal">
                                            <i class="la la-edit"></i>
                                        </a>*@
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <span class="m-form__help">
                Please, enter their names and positions within the organization.
            </span>
        </div>

        <!-- <div class="form-group m-form__group">
            <div class="row">
                <label class="col-form-label col-md-9 col-sm-12">
                    2. Who else will be involved in developing the plan and to what extend?
                </label>
                <div class="col-md-3 col-sm-12">
                    <a href="" class="btn btn-sp m-btn m-btn--pill m--pull-right"
                        data-toggle="modal" data-target="#m_select2_modal">
                        Add
                    </a>
                </div>
            </div>
            <table class="table m-table  table-bordered m--margin-top-10" width="100%">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Position
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Mariam Merabishvili
                        </td>
                        <td>
                            Chairman
                        </td>
                        <td>
                            <span class="table-row-actions">
                                <a href="#"
                                    class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="Delete"> <i class="la la-trash"></i>
                                </a>

                                <a href="#"
                                    class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="Edit" data-toggle="modal"
                                    data-target="#m_select2_modal">
                                    <i class="la la-edit"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Giorgi Kelaptrishvili
                        </td>
                        <td>
                            Advisor
                        </td>
                        <td>
                            <span class="table-row-actions">
                                <a href="#"
                                    class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="Delete"> <i class="la la-trash"></i>
                                </a>

                                <a href="#"
                                    class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill"
                                    title="Edit" data-toggle="modal"
                                    data-target="#m_select2_modal">
                                    <i class="la la-edit"></i>
                                </a>
                            </span>
                        </td>
                    </tr>

                </tbody>
            </table>
            <span class="m-form__help">
                Please, enter their names and positions within the organization.
            </span>
        </div> -->
    </div>
</div>

<div class="modal fade" id="planning_team_add_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    Add Team Member
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>

            <partial name="~/Views/User/Partials/_AddUserToPlan.cshtml" view-data="ViewData" model="new AddUserToPlanDTO()" />

        </div>
    </div>
</div>
