@model Application.DTOs.StepBlockDTO
@using Core.Constants;

<div class="m-portlet m-portlet--bordered m-portlet--unair m--margin-top-30">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="row no-gutters justify-content-md-center">
                <div class="col col-lg-12">
                    <h3 class="m-portlet__head-text">
                        @Model.Title
                    </h3>
                </div>
            </div>
        </div>
        <a href="#" data-target="#help_modal_@Model.Order" data-toggle="modal"
           class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle m-intro__help">
            <i class="fa fa-question"></i>
        </a>
    </div>
    <div class="m-portlet__body">
        @foreach (var question in Model.Questions)
        {
            if (question.Type == QuestionTypes.Boolean)
            {
                <partial name="~/Views/Worksheet/Partials/Questions/_BooleanQuestion.cshtml" model="question" />
            }

            if (question.Type == QuestionTypes.Select)
            {
                <partial name="~/Views/Worksheet/Partials/Questions/_SelectQuestion.cshtml" model="question" />
            }

            if (question.Type == QuestionTypes.MultiSelect)
            {
                <partial name="~/Views/Worksheet/Partials/Questions/_MultiSelectQuestion.cshtml" model="question" />
            }

            if (question.Type == QuestionTypes.TagMultiSelect)
            {
                <partial name="~/Views/Worksheet/Partials/Questions/_TagMultiSelectQuestion.cshtml" model="question" />
            }

            if (question.Type == QuestionTypes.PlanTypeSelect)
            {
                <partial name="~/Views/Worksheet/Partials/Questions/_PlanTypeSelectQuestion.cshtml" model="question" />
            }

            if (question.Type == QuestionTypes.StepTable)
            {
                <partial name="~/Views/Worksheet/Partials/Questions/_StepTableQuestion.cshtml" model="question" />
            }
        }
    </div>
</div>


<div class="modal fade" id="help_modal_@Model.Order" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Help
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                @Model.Instruction
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>