@model Application.DTOs.PlanStepDTO
@using Resources

@using Web.Helpers

@{
    var stepList = StepHelper.GetStepList(Context);
}

<div class="m-portlet m-portlet--bordered m-portlet--unair m--margin-top-30">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="row no-gutters justify-content-md-center">
                <div class="col col-lg-12">
                    <h3 class="m-portlet__head-text">
                        Steps
                    </h3>
                </div>
            </div>
        </div>
        @*<a href="#" data-target="#help_modal_steptasks" data-toggle="modal"
               class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle m-intro__help">
                <i class="fa fa-question"></i>
            </a>*@
    </div>
    <div class="m-portlet__body">

        <div class="form-group m-form__group">
            <div class="row">
                <label class="col-form-label col-sm-12">
                    What steps will you use in your planning process?
                </label>
            </div>
            <!--others' answers: Start-->
            <div class="m-demo">
                <div class="m-demo__preview">
                    <div class="form-group m-form__group">
                        <label>
                            Combined result
                        </label>
                        <div>
                            <div class="m-scrollable " data-scrollable="true" data-axis="xy">
                                <table class="table m-table  table-bordered m--margin-top-10"
                                       width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Steps / tasks
                                            </th>
                                            <th>
                                                Persons / groups involved
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Step 1
                                            </td>
                                            <td>
                                                <div class="m-list-badge m-list-badge--light-bg">
                                                    <div class="m-list-badge__items">
                                                        <span title="Giorgi Giorganashvili"
                                                              data-toggle="tooltip"
                                                              class="m-list-badge__item m-list-badge__item--default sp-tooltip">

                                                            Mariam Merabishvili
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                Step 2
                                            </td>
                                            <td>
                                                <div class="m-list-badge m-list-badge--light-bg">
                                                    <div class="m-list-badge__items">
                                                        <span title="Mariam Merabishvili"
                                                              data-toggle="tooltip"
                                                              class="m-list-badge__item m-list-badge__item--default sp-tooltip">

                                                            ia mgeladze
                                                        </span>
                                                        <span title="Mariam Merabishvili"
                                                              data-toggle="tooltip"
                                                              class="m-list-badge__item m-list-badge__item--default sp-tooltip">

                                                            Giorgi Giorganashvili
                                                        </span>
                                                        <span title="Giorgi Giorganashvili, Mariam Merabishvili"
                                                              data-toggle="tooltip"
                                                              class="m-list-badge__item m-list-badge__item--default sp-tooltip">

                                                            isidore mgaloblishvili
                                                        </span>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                Step 3
                                            </td>
                                            <td>
                                                <div class="m-list-badge m-list-badge--light-bg">
                                                    <div class="m-list-badge__items">
                                                        <span title="Giorgi Giorganashvili, Mariam Merabishvili"
                                                              data-toggle="tooltip"
                                                              class="m-list-badge__item m-list-badge__item--default sp-tooltip">

                                                            Mariam Merabishvili
                                                        </span>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--otherss answers: End-->
            <div class="m-scrollable " data-scrollable="true" data-axis="xy">
                <table class="table m-table  table-bordered m--margin-top-10" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Steps / tasks
                            </th>
                            <th>
                                External users
                                @*Persons / groups involved*@
                            </th>
                            <th>
                                Schedule
                            </th>
                            <th>
                                Remind in (days)
                            </th>
                            <th>
                                Completed
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var step in stepList)
                        {
                            <tr>
                                <td>
                                    @steps.ResourceManager.GetString(step.Step)
                                </td>
                                <td>
                                    <div class="m-list-badge m-list-badge--light-bg">
                                        <div class="m-list-badge__items">
                                            <span class="m-list-badge__item m-list-badge__item--default">
                                                Mariam Merabishvili
                                            </span>
                                        </div>
                                    </div>
                                    <a href="" class="btn btn-sp m-btn m-btn--pill m--pull-right"
                                       data-toggle="modal" data-target="#edit_steptasks_modal">
                                        Add new
                                    </a>
                                </td>
                                <td>
                                    <input type="text" class="datepicker form-control" value="2/01/2019" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="4" />
                                </td>
                                <td>
                                    <i class="fa fa-check-square-o sp-font-md"></i>
                                </td>
                                <td>
                                    <span class="fa fa-check m--font-success">
                                    </span>
                                </td>
                                @*<td>
                                        <span class="table-row-actions">
                                            <a href="#"
                                               class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill"
                                               title="Edit" data-toggle="modal"
                                               data-target="#m_question8_modal">
                                                <i class="la la-edit"></i>
                                            </a>
                                        </span>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <span class="m-form__help">
                Review these steps with the people who are involved, and refine them as
                needed.
            </span>
        </div>
    </div>
</div>



<div class="modal fade" id="edit_steptasks_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    Add an external user
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>
            <partial name="~/Views/User/Partials/ExternalUser/_AddExternalUserToStep.cshtml" view-data="ViewData" model="new AddExternalUserToStepDTO {}" />
        </div>
    </div>
</div>
