@model Application.DTOs.PlanStepDTO

<form class="m-form m-form--fit m-form--label-align-left" id="step_form">
    <input type="hidden" asp-for="PlanId" />
    <input type="hidden" asp-for="Step" />
    @{ var questionIndexOffset = 0;}
    @for (int i = 0; i < Model.StepBlocks.Count; i++)
    {

        <partial name="~/Views/Worksheet/Partials/_StepBlock.cshtml"
                 model="Model"
                 view-data='new ViewDataDictionary(ViewData) { { "BlockIndex", i } , {"QuestionIndexOffset", questionIndexOffset }}' />

        questionIndexOffset += Model.StepBlocks[i].Questions.Count();

    }

    @if (Model.Step == Steps.Predeparture)
    {
        <partial name="~/Views/Worksheet/Partials/_StepTasks.cshtml" />
    }

    <div class="form-group m-form__group">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </div>

    @if ((Model.IsAdmin || !Model.IsSubmitted) && !Model.IsCompleted)
    {
        <div class="row m--img-centered">
            <div class="col-12 col-md-10 m--margin-top-20">
                <button type="button" id="step_form_save_button" class="btn m-btn--pill btn-sp m--margin-right-10">
                    Save
                </button>

                <button type="button" id="step_form_submit_button" class="btn m-btn--pill btn-sp">
                    Submit
                    @if (!Model.IsSubmitted)
                    {
                        <i class="fa fa-exclamation-triangle"></i>
                    }
                </button>
            </div>
            @if (Model.IsAdmin)
            {
                <idv class="col-12 col-md-2 m--margin-top-20">
                    <button type="button" id="step_form_complete" class="btn m-btn--pill btn-success">
                        Complete
                    </button>
                </idv>
            }
        </div>
    }

</form>

@if (Model.Step == Steps.Predeparture)
{
    <div class="modal fade" id="edit_steptasks_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">
                        Add an external user
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-remove"></span>
                    </button>
                </div>
                <partial name="~/Views/User/Partials/ExternalUser/_AddResponsibleUserToStep.cshtml" view-data="ViewData" model="new AddResponsibleUserToStepDTO { PlanId = Model.PlanId }" />
            </div>
        </div>
    </div>
}
