@model Application.DTOs.AddResponsibleUserToStepDTO
@using Web.Helpers

@{
    Layout = null;
}
<form class="m-form m-form--fit m-form--label-align-right" id="add_responsible_user_to_step_new">
    <div class="m-portlet__body">
        <input type="hidden" asp-for="NewResponsibleUser.Step" />
        <div class="form-group m-form__group">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="NewResponsibleUser.FirstName">
                @sharedResource.userAddNewResponsibleUserFirstname
            </label>
            <input asp-for="NewResponsibleUser.FirstName" class="form-control m-input" />
            <span class="text-danger" asp-validation-for="NewResponsibleUser.FirstName"></span>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="NewResponsibleUser.LastName">
                @sharedResource.userAddNewResponsibleUserLastname
            </label>
            <input asp-for="NewResponsibleUser.LastName" class="form-control m-input" />
            <span class="text-danger" asp-validation-for="NewResponsibleUser.LastName"></span>
        </div>
        <div class="form-group m-form__group">
            <label asp-for="NewResponsibleUser.Email">
                @sharedResource.userAddNewResponsibleUserEmail
            </label>
            <input asp-for="NewResponsibleUser.Email" class="form-control m-input" />
            <span class="text-danger" asp-validation-for="NewResponsibleUser.Email"></span>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
        <div class="m-form__actions pull-right">
            <button type="submit" class="btn btn-sp m-btn m-btn--icon">
                @sharedResource.userAddNewResponsibleUserSubmit
            </button>
        </div>
    </div>
</form>
