
@{
    ViewData["Title"] = sharedResource.sharedAccessDeniedTitle;
}

<div class="m-4">
    <h1 class="text-danger">@sharedResource.sharedAccessDeniedTitle</h1>
    <div>
        <h2 class="text-danger">@sharedResource.sharedAccessDeniedDescription</h2>
    </div>
</div>