
@{
    ViewData["Title"] = "Access Denied";
}

<div class="m-4">
    <h1 class="text-danger">Access Denied.</h1>
    <div>
        <h2 class="text-danger">You don't have a permission to access.</h2>
    </div>
</div>