
@{
    ViewData["Title"] = "Error";
}


<div class="m-4">
    <h1 class="text-danger">An error occured.</h1>
    <div>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
</div>
