
@{
    ViewData["Title"] = sharedResource.sharedErrorTitle;
}


<div class="m-4">
    <h1 class="text-danger">@sharedResource.sharedErrorHeader</h1>
    <div>
        <h2 class="text-danger">@sharedResource.sharedErrorDescription</h2>
    </div>
</div>
