@model Application.DTOs.QuestionDTO 

<div class="form-group m-form__group">
    <div class="row">
        <div class="col-8 col-md-10">
            @(Model.Order).  @Model.Title
        </div>
        <div class="col-4 col-md-2 m-align--center">
            <span class="m-switch m-switch--icon">
                <label>
                    <input type="checkbox" name="">
                    <span></span>
                </label>
            </span>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <span class="m-form__help">
            @Model.Description
        </span>
    }
</div>