<div class="m-demo">
    <div class="m-demo__preview">
        <div class="form-group m-form__group">
            <div>
                <div class="m-scrollable mCustomScrollbar _mCS_1 mCS-autoHide" data-scrollable="true" data-axis="xy" style="position: relative; overflow: visible;">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px; width: 792px;" dir="ltr">
                            <table class="table m-table  table-bordered m--margin-top-10" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Value
                                        </th>
                                        <th>
                                            Definition
                                        </th>
                                        <th>
                                            How is this value expressed in our party life?
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="author">
                                        <td colspan="3"> Giorgi Giorganashvili</td>
                                    </tr>
                                    <tr>
                                        <td>Integrity </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Democratic decision-making
                                        </td>
                                        <td>
                                            Major decisions are taken based on discussions in
                                            the party
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sympathy
                                        </td>
                                        <td>
                                            Team members help each other.
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr class="author">
                                        <td colspan="3">Mariam kelaptrishvili</td>
                                    </tr>
                                    <tr>
                                        <td>Profesionalism </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Integrity </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Sympathy
                                        </td>
                                        <td>
                                            Team members help each other.
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_1_scrollbar_horizontal" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 792px; max-width: 781.8px; left: 0px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group m-form__group">
    <div class="row">
        <div class="col-sm-12">
            <label>
                Your answer
            </label>
            <a href="" class="btn btn-sp m-btn m-btn--pill m--pull-right" data-toggle="modal" data-target="#m_select2_modal">
                Add
            </a>
        </div>
    </div>
    <div class="m-scrollable mCustomScrollbar _mCS_2 mCS-autoHide" data-scrollable="true" data-axis="xy" style="position: relative; overflow: visible;">
        <div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
            <div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px; width: 860px;" dir="ltr">
                <table class="table m-table  table-bordered m--margin-top-10" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Value
                            </th>
                            <th>
                                Definition
                            </th>
                            <th>
                                How is this value expressed in our party life?
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Team work
                            </td>
                            <td>
                                Decisions are shared
                            </td>
                            <td>
                                Information is provided in time, distance/communication
                                tools
                                are
                                used and wide consensus is a priority.
                            </td>
                            <td>
                                <span class="table-row-actions">
                                    <a href="#" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                        <i class="la la-trash"></i>
                                    </a>
                                    <a href="#" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" data-toggle="modal" data-target="#m_select2_modal">
                                        <i class="la la-edit"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Openness </td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="table-row-actions">
                                    <a href="#" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                        <i class="la la-trash"></i>
                                    </a>
                                    <a href="#" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" data-toggle="modal" data-target="#m_select2_modal">
                                        <i class="la la-edit"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Integrity </td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="table-row-actions">
                                    <a href="#" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                        <i class="la la-trash"></i>
                                    </a>
                                    <a href="#" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" data-toggle="modal" data-target="#m_select2_modal">
                                        <i class="la la-edit"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Profesionalism </td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="table-row-actions">
                                    <a href="#" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                        <i class="la la-trash"></i>
                                    </a>
                                    <a href="#" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" data-toggle="modal" data-target="#m_select2_modal">
                                        <i class="la la-edit"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Democratic decision-making
                            </td>
                            <td>
                                Major decisions are taken based on discussions in the party
                            </td>
                            <td></td>
                            <td>
                                <span class="table-row-actions">
                                    <a href="#" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                        <i class="la la-trash"></i>
                                    </a>
                                    <a href="#" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" data-toggle="modal" data-target="#m_select2_modal">
                                        <i class="la la-edit"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sympathy
                            </td>
                            <td>
                                Team members help each other.
                            </td>
                            <td></td>
                            <td>
                                <span class="table-row-actions">
                                    <a href="#" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">
                                        <i class="la la-trash"></i>
                                    </a>
                                    <a href="#" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" data-toggle="modal" data-target="#m_select2_modal">
                                        <i class="la la-edit"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_2_scrollbar_horizontal" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 860px; max-width: 849.8px; left: 0px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
    </div>
    <span class="m-form__help">
        Please, enter values.
    </span>
</div>